body{
    background:linear-gradient(#fff, #e0e0e9);
}
h2{
    text-align: center;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding-right: 1rem;
}

.header{
    display: flex;
    justify-content: space-around;
}
/* Style bannière page index*/ 
div.banner{
    position: relative;

}
.banner__picture{
    background-image: url(./images/vcam_5.jpg);
    width: 100%;
    height: 200px;
    object-fit: cover;

}
.banner__text{
    border-radius: 40px;
    padding: 1rem;
    background-color: chocolate;
    width: 200px;
    position: absolute;
    top: 2rem;
    bottom: 4rem;
    right: 36rem;
    opacity: 0.8;
}
/* Style section carte produits*/

#carrousel_1{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#carrousel_2{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
#carrousel_3{
    display: flex;
    justify-content: center;
    
}

.card{
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
    background-color: gainsboro;
    padding: 0.5rem;
    margin: 1rem ;   
}
.anim{
   transform: scale(1.5);
}
.product_picture{
    width: 100%;
   height: 100%;
   border-radius: 20px 20px 0 0;
   object-fit: cover;
}

/* style due la page produit*/

.header__product{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-around;
}
.product__card{
    width: 50%;
    height: 100%;
    display: block;
    margin: 6rem auto 10rem auto;
    background-color: rgb(165, 165, 160);
    border-radius: 40px;
    
}
.product__picture--individual{
    width: 100%;
    height: 40rem;
    border-radius: 40px 40px 0 0;
}
.info__product{
    display: flex;
    justify-content: space-around;
}